@model IEnumerable<CumulativeProjectP1.Models.teacher>

<style>
    .btn {
        color: blue;
    }
</style>
@{
    ViewBag.Title = "List";
}

<h2>List of all teachers</h2>


<form method="GET" action="/Teacher/List">
    <input class="searchbar" size="40" type="text" name="search_key" id="search_key" placeholder="Search for teacher information..." />
    <button class="btn" value="Search">Search</button>
</form>
<button><a href="/teacher/add">+ add new teacher</a></button>

<ol class="ol">
    @foreach (CumulativeProjectP1.Models.teacher teacher in Model)
    {
        <li class="list-el">
            <h4><a href="/Teacher/Show/@teacher.teacherid">@teacher.teacherfname @teacher.teacherlname</a></h4>
        </li>
    }
</ol>